/*
 * SPDX-License-Identifier: Apache-2.0
 */

'use strict';

module.exports.info  = 'Creating Asset in Registry';

let chaincodeID;
// const appmetrics = require('appmetrics');
// require('appmetrics-dash').monitor({appmetrics: appmetrics});
// appmetrics.enable('profiling');
const bytes = (s) => {
    return ~-encodeURI(s).split(/%..|./).length;
};

let txIndex = 0;
let clientIdx;
let asset;
let bc, contx, bytesize;
{%- set clients = [] -%}
{%- for org in bld_peer_orgs  -%}
{{ clients.append( '\"' + 'client0.' + org.domain + '\"' ) }}
{%- endfor -%}

const clients = [{{ clients|join(',') }}]
module.exports.init = async function(blockchain, context, args) {
    bc = blockchain;
    contx = context;
    clientIdx = context.clientIdx;
    chaincodeID = args.chaincodeID ? args.chaincodeID : 'fixed-asset';
    bytesize = args.bytesize;

    asset = {docType: chaincodeID, content: ''};
    asset.creator = 'client' + clientIdx;
    contx = context;
};

module.exports.run = function() {
    const uuid =  "client" + clientIdx + '_' + txIndex.toString(16);
    asset.uuid = uuid;
    asset.content = txIndex.toString(16);
    const myArgs = {
        chaincodeFunction: 'createAsset',
        chaincodeArguments: [uuid, JSON.stringify(asset)],
        invokerIdentity: clients[txIndex%clients.length]
    };
    txIndex++;
    return bc.bcObj.invokeSmartContract(contx, chaincodeID, undefined, myArgs);
};

module.exports.end = function() {
    return Promise.resolve();
};
