name: fabric-network-peer0-{{ org.name.lower() }}
version: 1.0.0
client:
  organization: {{ org.name }}
  connection:
    timeout:
      peer:
        endorser: '300'
{% set peer = org.peers[0] %}
organizations:
  {{ org.name }}:
    mspid: {{ org.msp_id }}
    peers:
      - {{ peer.host_name }}.{{ org.domain }}
    certificateAuthorities:
      - ca.{{ org.domain }}
peers:
  {{ peer.host_name }}.{{ org.domain }}:
    url: grpcs://{{ peer.address }}:{{ peer.port }}
    tlsCACerts:
      path: {{ tls_path }}
      pem: |
{{ tls_pem | indent(8, true) }}

    grpcOptions:
      ssl-target-name-override: {{ peer.host_name }}.{{ org.domain }}
      hostnameOverride: {{ peer.host_name }}.{{ org.domain }}
certificateAuthorities:
  ca.{{ org.domain }}:
    url: https://{{ org.ca.address }}:{{ org.ca.port }}
    caName: ca.{{ org.domain }}
    tlsCACerts:
      pem:
        - |
{{ tls_pem | indent(10, true) }}

    httpOptions:
      verify: false