- name: Ensure `FABRIC_CA_HOME` directory
  become: true
  file:
    path: "{{ fabric_ca_home | mandatory }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: 0755
    
- name: fabric-ca-server configure task
  include_tasks: "{{ target }}.yml"
  with_items: "{{ values }}"
  loop_control:
    loop_var: target