- name: Copy SSH Key for Private Repository
  copy:
    src: "{{ install_fabric_key_file }}"
    dest: /tmp/repository_key
    mode: '0600'
  when: install_fabric_key_file is defined

- name: Get Private Key path
  set_fact:
    key_file_path: /tmp/repository_key
  when: install_fabric_key_file is defined

- name: Clone Repository - {{ install_fabric_repo_url }}
  git:
    repo: "{{ install_fabric_repo_url }}"
    key_file: "{{ key_file_path | default('')}}"
    dest: "/tmp/{{ install_fabric_repo_name }}"
    accept_hostkey: true    
    version: "{{ install_fabric_version }}"
    force : yes

- name: make clean - {{ install_fabric_repo_name }}
  shell:
    cmd: /bin/bash -ic 'make clean'
    chdir: /tmp/{{ install_fabric_repo_name }}

- name: Build Binary - {{ install_fabric_repo_name }}
  shell:
    cmd: /bin/bash -ic 'make {{ install_fabric_target | default('native')}}'
    chdir: /tmp/{{ install_fabric_repo_name }}  

- name: Copy Binary to PATH - {{ install_fabric_repo_name }}
  become: true
  shell: 
    cmd: cp ./build/bin/* /usr/local/bin
    chdir: /tmp/{{ install_fabric_repo_name }}
